version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: obsshop
      POSTGRES_USER: obsshop_user
      POSTGRES_PASSWORD: obsshop_pass
    ports: ["5432:5432"]
  discovery-service:
    build: ./backend/discovery-service
    ports: ["8761:8761"]
  product-service:
    build: ./backend/product-service
    depends_on: ["db","discovery-service"]
    ports: ["8081:8081"]
  order-service:
    build: ./backend/order-service
    depends_on: ["db","discovery-service"]
    ports: ["8082:8082"]
  api-gateway:
    build:
      context: ./backend/api-gateway
      dockerfile: Dockerfile
    image: group2/api-gateway:latest
    container_name: api-gateway
    depends_on:
      - product-service
      - order-service
      - discovery-service
    ports:
      - "8080:8080"
    networks:
      - group-net
  shell-app:
    build: ./frontend/shell-app
    ports: ["3000:3000"]
  products-mf:
    build: ./frontend/products-mf
    ports: ["3001:3001"]
  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports: ["9090:9090"]
  grafana:
    image: grafana/grafana
    ports: ["3002:3000"]
  signoz:
    image: signoz/signoz:latest
    ports: ["3301:3301","4317:4317"]
