version: "3.8"

services:
  # -------------------------------
  # Eureka Discovery Server
  # -------------------------------
  discovery-service:
    build: ./backend/discovery-service
    ports:
      - "8761:8761"
    networks:
      - backend

  # -------------------------------
  # Product Service
  # -------------------------------
  product-service:
    build: ./backend/product-service
    depends_on:
      - discovery-service
    environment:
      - SPRING_PROFILES_ACTIVE=default
    ports:
      - "8081:8081"
    networks:
      - backend

  # -------------------------------
  # Order Service
  # -------------------------------
  order-service:
    build: ./backend/order-service
    depends_on:
      - discovery-service
    environment:
      - SPRING_PROFILES_ACTIVE=default
    ports:
      - "8082:8082"
    networks:
      - backend

  # -------------------------------
  # API Gateway
  # -------------------------------
  api-gateway:
    build: ./backend/api-gateway
    depends_on:
      - discovery-service
      - product-service
      - order-service
    ports:
      - "8080:8080"
    networks:
      - backend

  # -------------------------------
  # FRONTEND
  # -------------------------------
  shell-app:
    build: ./frontend/shell-app
    ports:
      - "3000:80"
    networks:
      - backend

  products-mf:
    build: ./frontend/products-mf
    ports:
      - "3001:80"
    networks:
      - backend

  # -------------------------------
  # Seeder
  # -------------------------------
  seeder:
    image: curlimages/curl:latest
    depends_on:
      - product-service
      - order-service
    volumes:
      - ./seed:/seed:ro
      - ./data:/data:ro
    entrypoint: ["/bin/sh","-c","/seed/seed.sh"]
    networks:
      - backend

  # -------------------------------
  # PROMETHEUS
  # -------------------------------
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - backend

  # -------------------------------
  # GRAFANA
  # -------------------------------
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - ./monitoring/grafana:/etc/grafana/provisioning
    ports:
      - "3030:3000"
    depends_on:
      - prometheus
    networks:
      - backend

  # -------------------------------
  # SIGNOZ STACK (working)
  # -------------------------------

  # Clickhouse Database
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "9000:9000"
      - "8123:8123"
    networks:
      - backend

  # SigNoz collector
  signoz-collector:
    image: signoz/signoz-otel-collector:latest
    container_name: signoz-collector
    depends_on:
      - clickhouse
    volumes:
      - ./monitoring/signoz.yml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317"
      - "4318:4318"
    networks:
      - backend

  # SigNoz UI
  signoz-frontend:
    image: signoz/frontend:latest
    container_name: signoz-frontend
    ports:
      - "3301:3301"
    networks:
      - backend
    depends_on:
      - signoz-collector

networks:
  backend:
    driver: bridge
