name: CI

on:
  push:
    branches: [ main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Build backend services
        run: |
          cd backend/product-service && mvn -B clean package -DskipTests
          cd ../../backend/order-service && mvn -B clean package -DskipTests
          cd ../../backend/api-gateway && mvn -B clean package -DskipTests
          cd ../../backend/discovery-service && mvn -B clean package -DskipTests
      - name: Build frontend
        run: |
          cd frontend/shell-app && npm ci && npm run build
          cd ../products-mf && npm ci && npm run build
      - name: Docker build
        run: |
          docker compose up --build
