name: CI

on:
  push:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build all containers
        run: docker compose build

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Start containers
        run: docker compose up -d

  cleanup:
      runs-on: ubuntu-latest
      needs: deploy

      steps:
        - uses: actions/checkout@v4

        - name: Cleanup containers & volumes
          run: docker compose down -v
